<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="upload.css">
        <title>Seed-Certification Project</title>
    </head>
    
    <h3>Agri-Care(All Units API)</h3>

    <body>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
            <span>Common</span>
            <input id='choose' type=file name=photo multiple> 
            <input id='submit' type="submit">
        </form>

        <form method="POST" enctype="multipart/form-data" action="{{ url_for('seedbase') }}">
            <span>Base API</span>
            <input id='choose' type=file name=photo multiple> 
            <input id='submit' type="submit">
        </form>

        <form method="POST" enctype="multipart/form-data" action="{{ url_for('seedcrack') }}">
            <span>Crack API</span>
            <input id='choose' type=file name=photo multiple> 
            <input id='submit' type="submit">
        </form>

        <form method="POST" enctype="multipart/form-data" action="{{ url_for('seedcolor') }}">
            <span>Color API</span>
            <input id='choose' type=file name=photo multiple> 
            <input id='submit' type="submit">
        </form>

        
    </body>
</html>